.about {
  margin: 180px 0 0;

  @media (max-width: 991px) {
    margin: 120px 0 0;
  }

  &-body {
    display: flex;
    padding: 0 0 200px;

    @media (max-width: 991px) {
      gap: 48px;
      padding: 0 0 175px;
    }

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      gap: 20px;
      padding: 0 0 368px;
    }
  }

  &-col {
    flex: 0 0 50%;

    @media (max-width: 991px) {
      flex: 1 1 auto;
      &:nth-child(2) {
        flex: 0 0 305px;
        margin: 0 0 0 auto;
        padding: 10px 0 0;
      }
    }

    @media (max-width: 767px) {
      &:nth-child(1) {
        display: contents;
      }
      &:nth-child(2) {
        flex: 1 1 auto;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__title {
    @media (max-width: 767px) {
      order: 1;
    }
  }

  &-fact {
    margin: 36px 0 0;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-transform: lowercase;
    color: #000;
    display: inline-block;

    padding: 15px 28px 15px 0;

    @media (max-width: 991px) {
      margin: 50px 0 0;
      padding: 15px 20px 15px 30px;
    }

    @media (max-width: 767px) {
      margin: 44px 0 0;
      padding: 15px 0;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      width: 100vw;

      @media (max-width: 767px) {
        left: -20px;
        right: -20px;
        width: auto;
      }
    }

    span {
      font-family: 'Dela Gothic One', sans-serif;
    }

    svg {
      position: absolute;
      z-index: -1;
      top: -28px;
      left: -34px;

      @media (max-width: 991px) {
        left: -10px;
      }
      @media (max-width: 767px) {
        left: -22px;
      }
    }
  }

  &-imgs {
    position: relative;

    &__item {
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:nth-child(1) {
        top: 105px;
        left: -40px;
        z-index: 1;

        width: 233px;
        height: 259px;

        @media (max-width: 991px) {
          left: -10px;

          width: 200px;
          height: auto;
        }

        @media (max-width: 767px) {
          top: 230px;
        }
      }
      &:nth-child(2) {
        top: 0;
        left: 90px;

        width: 480px;
        height: 395px;

        @media (max-width: 991px) {
          left: 100px;

          width: 288px;
          height: auto;
        }

        @media (max-width: 767px) {
          top: 170px;
        }
      }
    }
  }

  &__subtitle {
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-align: right;

    br {
      display: none;
    }

    @media (max-width: 767px) {
      text-align: left;
      font-size: 16px;
      line-height: normal;

      br {
        display: block;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin: 70px 0 0;
    gap: 30px;

    @media (max-width: 991px) {
      margin: 40px 0 0 20px;
      max-width: 295px;
      gap: 20px;
    }

    @media (max-width: 767px) {
      margin: 20px 0 0;
      max-width: 100%;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      text-transform: lowercase;
      color: #fff;

      @media (max-width: 991px) {
        margin: 0;
      }
    }
  }
}
